.cart {
  margin-top: 50px;
}

.cart-item-title {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  color: grey;
  font-size: max(1vw, 12px);
}

.cart-item-item {
  margin: 10px 0;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
}

.cart-item-item img {
  width: 50px;
  object-fit: cover;
}

.cart hr {
  height: 1px;
  background-color: #e2e2e2;
  border: none;
  margin: 5px 0;
}

.cart-item-item .cross {
  cursor: pointer;
  color: tomato;
  font-weight: bold;
  text-align: center;
}

/* Cart Bottom sec */
.cart-bottom {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: max(12vw, 20px);
  flex-wrap: wrap;
}

.cart-promocode {
  flex: 1;
  margin-top: 20px;
}

.cart-promocode-input {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;
  border-radius: 4px;
}

.cart-promocode-input input {
  background: transparent;
  border: none;
  outline: none;
  padding-left: 10px;
  flex: 1;
}

.cart-promocode-input button {
  width: max(12vw, 150px);
  padding: 12px 5px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cart-promocode-input button:hover {
  background-color: #333;
}

/* Mobile responsiveness */
@media (max-width: 750px) {
  .cart-bottom {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .cart-promocode-input button {
    width: 100%;
    margin-left: 10px;
  }
}

@media (max-width: 450px) {
  .cart-item-item img {
    width: 30px;
  }
  .cart-item-title {
    font-size: 10px;
  }
  .cart-item-item {
    grid-template-columns: repeat(6, 1fr);
    font-size: 10px;
  }
}

@media (max-width: 350px) {
  .cart-item-item {
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: auto auto;
    gap: 5px;
  }
  .cart-item-item img {
    grid-row: 1 / 3;
  }

  .cart-item-title {
    grid-template-columns: 1fr 2fr 1fr 1.5fr 1fr 1fr;
  }
}
