.login-popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000090;
  z-index: 1000;
  display: grid;
}

.login-popup-container {
  place-self: center;
  width: max(23vw, 330px);
  background-color: white;
  color: #808080;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 30px;
  border-radius: 8px;
  font-size: 14px;
}

.login-popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.login-popup-title img {
  width: 16px;
  cursor: pointer;
}

.login-popup-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-popup-inputs input {
  outline: none;
  padding: 10px;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
}

.login-popup-container button {
  border: none;
  background-color: tomato;
  padding: 10px;
  border-radius: 4px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.login-popup-container button:hover {
  background-color: #ff6347;
}

.login-popup-condition {
  display: flex;
  align-items: start;
  gap: 8px;
  margin-top: -15px;
}

.login-popup-condition input {
  margin-top: 5px;
}

.login-popup p span {
  font-weight: 500;
  color: tomato;
  margin-left: 5px;
  cursor: pointer;
}

/* Mobile responsive */
@media (max-width: 600px) {
  .login-popup-container {
    width: 90%;
    padding: 20px;
  }
}
