.Product-item {
  width: 100%;
  max-width: 300px;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #00000015;
  transition: 0.3s;
  background-color: white;
}

.Product-item-image {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.Product-item-info {
  padding: 20px;
}

.Product-item-name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
}

.Product-item-name-rating img {
  width: 70px;
}

.Product-item-desc {
  color: #676767;
  font-size: 12px;
}

.Product-item-price {
  color: tomato;
  font-weight: 500;
  font-size: 22px;
  margin: 10px 0;
}

.Product-item-img-container {
  position: relative;
}

.Product-item-img-container .add {
  width: 35px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  border-radius: 50%;
}

.Product-item-counter {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: white;
  border-radius: 50px;
  padding: 6px;
}

/* Mobile responsive */
@media (max-width: 600px) {
  .Product-item {
    max-width: 90%;
  }
  .Product-item-name-rating {
    font-size: 16px;
  }
  .Product-item-desc {
    font-size: 11px;
  }
  .Product-item-price {
    font-size: 18px;
  }
  .Product-item-name-rating img {
    width: 50px;
  }
  .Product-item-img-container .add {
    width: 30px;
  }
  .Product-item-counter p {
    font-size: 14px;
  }
}
