.Product-display {
  margin-top: 30px;
}

.Product-display h2 {
  font-size: max(2vw, 24px);
  font-weight: 600;
}

.Product-display-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  margin-top: 30px;
  gap: 30px;
  row-gap: 50px;
}

/* Mobile tweaks */
@media (max-width: 600px) {
  .Product-display-list {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    row-gap: 30px;
  }
  .Product-display h2 {
    font-size: 20px;
  }
}
